.user-info {
  overflow: hidden;
  height: 160px;
  border-radius: $app-border-radius;
  background-color: rgb(69, 63, 53);
  padding: 10px;
  display: flex;
  flex-direction: row;
  cursor: pointer;

  &:hover {
    background-color: rgb(77, 72, 63);
  }

  &__image {
    border-radius: $app-border-radius;
    width: 140px;
    height: 140px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 5px 5px 5px 10px;
    flex-basis: 100%;
    position: relative;
  }

  &__name {
    margin: 0;
    font-size: 1.7rem;
    font-weight: 400;
  }

  &__reputation {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
  }

  &__following {
    margin-left: $app-margin;
    width: 16px;
    height: 16px;
    background-size: contain;
    background-image: url("../../assets/icons8-following-24.png");
  }

  &__actions {
    border-radius: 10px;
    background-color: #4f4f4f;
    padding: 10px;
    gap: 10px;
    display: flex;
    justify-content: end;
    position: absolute;
    bottom: 0;
    transition: transform 0.2s ease-in-out;
    transform: translateY(75px);

    &--active {
      transform: translateY(0px);
    }
  }

  &__action-button {
    width: 100px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #159b7e;
    cursor: pointer;
    transition: border-color 0.25s;

    &:hover {
      background-color: #19b090;
    }
    &:active {
      background-color: #158e74;
    }
  }

  &--blocked {
    pointer-events: none;
    opacity: 0.4;
  }
}

//responsive rules

.user-info {
  flex-basis: calc(33.33% - $app-margin);
}

@media screen and (max-width: $layout-breakpoint-medium) {
  .user-info {
    flex-basis: calc(50% - $app-margin);
  }
}

@media screen and (max-width: $layout-breakpoint-narrow) {
  .user-info {
    flex-basis: 100%;
  }
}
